{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Image 1 Captured{% endblock %}</h1>
{% endblock %}

{% block content %}
    <img src="{{img1}}">
			
	<!-- <h2 class="mt-5">CAMERA APP by Hemanth Nag</h2> -->
	<form method="post" action="{{ url_for('tasks2', img1 = img1) }}">
	
	<button type="submit" value="Stop/Start" name="stop" class="text-white mt-3 bg-red-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Start/Stop</button>
	<button type="submit" value="Capture" name="click" class="text-white mt-3 mb-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Capture</button>

	<!-- <input type="submit" value="Grey" name="grey" /> -->
	<!-- <input type="submit" value="Negative" name="neg" />
	<input type="submit" value="Face Only" name="face" /> -->
	<!-- <input type="submit" value="Start/Stop Recording" name="rec" /> -->
	</form>
	<img src="{{ url_for('video_feed') }}" width="800px" height="500px" class="border-gray-500 rounded-lg">


	<h3 style="font-family:courier;">Instructions:</h3>
	<ol style="font-family:courier;">
		<li>Stop/Start--Toggle between stop or start live streaming</li>
		<li>Put your face closer to the camera for better facial detection</li>
		<li>Wait for the blue box drawn around the face</li>
		<li>Capture--Press the capture button to take the photo</li>
	</ol>	
			
  
{% endblock %}
